body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}

section{
    margin-bottom: 30px;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 6px;
}

#catalogo div, #carrito div {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    padding: 6px;
    border-bottom: 1px solid #ddd;
}

button{
    margin-left: 10px;
}

